<footer class="page-footer">
  <section class="footer-main">
    <div class="footer-main__container base-container">
      <a class="footer-main__logo-block base-link" href="#">
        <img class="footer-main__logo-img" src="img/image/logo-footer.svg" width="360" height="170" alt="">
      </a>
      <div class="footer-main__column">
        <div class="footer-main__nav-block">
          <ul class="footer-main__list footer-main__list--first base-list">
            <li class="footer-main__list-item">
              <a class="footer-main__list-link base-link" href="#">Кто мы</a>
            </li>
            <li class="footer-main__list-item">
              <a class="footer-main__list-link base-link" href="#">Что мы делаем</a>
            </li>
            <li class="footer-main__list-item">
              <a class="footer-main__list-link base-link" href="#">Помочь фонду</a>
            </li>
          </ul>
          <ul class="footer-main__list footer-main__list--second base-list">
            <li class="footer-main__list-item">
              <a class="footer-main__list-link base-link" href="#">Получить помощь</a>
            </li>
            <li class="footer-main__list-item">
              <a class="footer-main__list-link base-link" href="#">Публикации</a>
            </li>
            <li class="footer-main__list-item">
              <a class="footer-main__list-link base-link" href="#">Контакты</a>
            </li>
          </ul>
          <a class="footer-main__tel base-link" href="tel:+7(000) 000 00 00">+7(000) 000 00 00</a>
        </div>
        <div class="footer-main__socials">
          <span class="footer-main__socials-text">Подписывайтесь на нас в соцсетях</span>
          <div class="footer-main__socials-wrapper">
            <a class="footer-main__socials-link base-link" href="#">
              <svg class="footer-main__socials-icon" width="64" height="64">
                <use href="img/icon/sprite.svg#socials-1-icon"></use>
              </svg>
            </a>
            <a class="footer-main__socials-link base-link" href="#">
              <svg class="footer-main__socials-icon" width="64" height="64">
                <use href="img/icon/sprite.svg#socials-2-icon"></use>
              </svg>
            </a>
            <a class="footer-main__socials-link base-link" href="#">
              <svg class="footer-main__socials-icon" width="64" height="64">
                <use href="img/icon/sprite.svg#socials-3-icon"></use>
              </svg>
            </a>
            <a class="footer-main__socials-link base-link" href="#">
              <svg class="footer-main__socials-icon" width="64" height="64">
                <use href="img/icon/sprite.svg#socials-4-icon"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-underline">
    <div class="footer-underline__container base-container">
      <span class="footer-underline__copyright">Благотворительный фонд Захара Прилепина</span>
      <a class="footer-underline__policy base-link" href="#">Политика конфеденциальности</a>
      <a class="footer-underline__isart-link base-link" href="#">
        <span class="footer-underline__isart-text">Разработано</span>
        <svg class="footer-underline__logo-icon" width="52" height="22" alt="#">
          <use href="img/icon/sprite.svg#isart-logo-icon"></use>
        </svg>
      </a>
    </div>
  </section>
</footer>
<script src="js/index.min.js"></script>
</body>

</html>