<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">

  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#ff0000">
  <meta name="msapplication-TileColor" content="#ed1c24">
  <meta name="theme-color" content="#ffffff">

  <link href="css/style.min.css?v=1.1" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <title>Благотворительный фонд Захара Прилепина</title>
</head>

<body>
  <header class="page-header">
    <nav class="main-nav">
      <div class="main-nav__nav-wrapper">
        <div class="main-nav__container base-container">
          <a class="main-nav__logo-link base-link" href="index.html">
            <figure class="main-nav__logo-image base-figure">
              <img class="main-nav__logo-img" src="img/image/logo.svg" width="164" height="76" alt="Логотип">
            </figure>
          </a>
          <div class="main-nav__nav-menu main-nav__nav-menu--mobile" id="mobile_menu">
            <ul class="main-nav__nav-list base-list">
              <li class="main-nav__nav-item">
                <a class="main-nav__nav-link base-link" href="about.html">О фонде</a>
              </li>
              <li class="main-nav__nav-item">
                <a class="main-nav__nav-link base-link" href="soviet.html">Попечительский совет</a>
              </li>
              <li class="main-nav__nav-item">
                <a class="main-nav__nav-link base-link" href="archive.html">Отчеты</a>
              </li>
              <li class="main-nav__nav-item">
                <a class="main-nav__nav-link base-link" href="accounting.html">Бухгалтерская отчетность</a>
              </li>
              <li class="main-nav__nav-item">
                <a class="main-nav__nav-link base-link" href="contacts.html">Контакты</a>
              </li>
            </ul>
            @@include('../_bem/_donate-button.html')
          </div>
          @@include('../_bem/_donate-button.html')
          <button class="main-nav__burger base-button" id="burger">
            <span class="main-nav__burger-line"></span>
          </button>
        </div>
      </div>
    </nav>
  </header>