<section class="heading">
  <div class="heading__container base-container">
    <div class="heading__info">
      <div class="heading__breadcrumbs">
        <a class="heading__breadcrumbs-home base-link" href="index.html">Главная |</a>
        <span class="heading__breadcrumbs-current">@@currentPage</span>
      </div>
      <h1 class="heading__info-title base-title">@@title</h1>
    </div>
    <svg class="heading__cover-icon" width="390" height="300" alt="#">
      <use href="img/icon/sprite.svg#heading-cover-icon"></use>
    </svg>
  </div>
</section>