@use "../mixins";

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  min-height: 390px;
  background: url(../img/image/heading-cover.png) var(--color-valencia);
  background-position: right;
  background-size: 898px 384px;
  background-repeat: no-repeat;

  margin: 116px 0 0 0;

  &__breadcrumbs {
    margin: 0 0 20px 0;

    & a,
    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      color: var(--color-white);
    }
  }

  &__info-title {
    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 90px;
    line-height: 92px;
    color: var(--color-white);
  }
}