:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;
	--color-valencia: #da4237;
	--color-mine-shaft: #252525;
	--color-nobel: #b3b3b3;
	--color-porcelain: #f3f4f5;
	--color-lochmara: #007cc1;
	--color-bridal-heath: #fff9f2;

	// Шрифты
	--font-family-default: "Inter", system-ui, sans-serif;
	--font-family-title: "Oswald", system-ui, sans-serif;

	//Размер контейнера
	--container-width: 1300px;
}